<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e_robotiq">
  
  <!-- Robot parameters -->
  <xacro:arg name="name" default="ur10e_robotiq"/>
  <xacro:arg name="ur_type" default="ur10e"/>
  <xacro:arg name="prefix" default="" />

  <!-- UR10e parameters (matching standard Universal Robots ROS 2 description) -->
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>

  <!-- Include UR10e Robot Macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <!-- Include Robotiq 2F-140 Gripper Macro -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140_macro.urdf.xacro" />

  <!-- World coordinate frame -->
  <link name="world" />

  <!-- Instantiate UR10e Arm -->
  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    initial_positions="${dict(shoulder_pan_joint=-0.2514,shoulder_lift_joint=-1.8000,elbow_joint=1.5000,wrist_1_joint=-1.2700,wrist_2_joint=-1.5708,wrist_3_joint=0.0)}">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_robot>

  <!-- Instantiate Robotiq 2F-140 Gripper attached to Arm tool0 -->
  <xacro:robotiq_gripper 
    name="$(arg prefix)RobotiqGripperHardwareInterface" 
    prefix="$(arg prefix)" 
    parent="$(arg prefix)tool0">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robotiq_gripper>

  <!-- Tool Center Point (TCP) Link for precise grasping & MoveIt planning -->
  <link name="$(arg prefix)tcp" />
  <joint name="$(arg prefix)tool0_to_tcp" type="fixed">
    <parent link="$(arg prefix)tool0" />
    <child link="$(arg prefix)tcp" />
    <!-- 0.23m Z-offset accounts for the Robotiq 2F-140 finger tip grasping center -->
    <origin xyz="0 0 0.23" rpy="0 0 0" />
  </joint>

</robot>
